#b1{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    position:fixed;
    right: 50px;
    text-align: center;
    font-size: 4em;
    padding-top: 90px;
    font-weight: bold;
}