body{
    margin: 0px;
}

.box{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 10em;
    text-align: center;
    transform: translateX(100px) rotateZ(45deg) scale(0.5);
}

#b1{
    background-color: lightblue;
}

#b2{
    background-color: lightgreen;
}

#b3{
    background-color: lightpink;
}