.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}

#b1{
    background-color: red;
}

#b2{
    background-color: green;
}

#b3{
    background-color: blue;
}

#b4{
    background-color: orange;
}